/*
header begins
*/
.mayor{
    border: 1px solid white!important;
    padding: 1px 10px;
    background-color: white;
    border-radius: 20px;
}
.mayor input{
    outline-color: white!important;
    width: 100%;
    border: 1px solid white;
    padding: 10px;
}
#hero{
    margin-top: 80px;
}
#hero img{
    height: 500px;
}
span{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #008000;
    float: left;
}
.about ul{
    padding-left: 0;
}
.about ul li{
    list-style: none;
    padding: 3px 0;
}
.smal{
    text-decoration: none;
}